/*! ABOUT */

.about-card {
  display: flex;
  margin-bottom: 132px;
  gap: 50px;
  font-family: "Open Sans";
  font-size: 16px;
}

.about-card--column {
  flex-direction: column;
}

.about-card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 80px;
  font-weight: 300;
  line-height: 96px;
  color: rgb(59, 66, 81);
}

.about-card__text {
  margin: 0;
  padding: 0;
  color: rgb(101, 106, 112);
  font-size: 16px;
  line-height: 28px;
}

.about-card__paragraph {
  margin-bottom: 20px;
}

.about-card__image { 
  display: block;
  height: auto;
  max-width:  1360px;
}

.about-card__image--medium {
  max-width: 600px;
}

.about-card__image--small {
  max-width: 300px;
}

.about-card__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-card__item {
  margin-bottom: 50px;
}
.about-card__gallery {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.about-card__gallery--chess{
  height: calc(100% + 250px);
}