.certificates {
    position: relative;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-areas: "a b b";
    grid-gap: 28px;
    padding-left: 25%;
}

.big {
    grid-area: b;
}

.certificate:nth-child(n + 5):nth-child(-n+6){
    position: relative;
    top: 40px;
}
.certificate-photo {
    align-items: center;
    justify-content: center;
}

.certificate:hover {
    cursor: pointer;
}
.certificate {
    width:fit-content;
    align-self: center;
    justify-self: center;
}
/* .certificate p {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 40%;
    left:10%;
    max-width: 350px;
    display: none;
    font-size: 20px;
    font-weight: 600;
    color: rgb(86, 86, 86);
    text-shadow: 1px 1px #fff;
    transition: all 0.1s ease-in-out;
}
.certificate:hover p { 
    display: block;
    transition: all 0.1s ease-in-out;
} */