html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat";
}

.coop-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.coop-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  background-color: #f9f9f9;
  background-image: url(/img/bg-pattern.jpg);
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 15px;
  color: #000;
}

.coop-card h3 {
  height: 52px;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
}

.tag {
  font-size: 11px;
  font-weight: 400;
  color: rgb(136, 136, 136);
  background-color: rgba(235, 235, 235);
  border-radius: 20px;
  padding: 5px;
}

.coop-card__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 64px;
}

.coop-card__button {
  width: fit-content;

}

.coop-card__button a {
  display: block;
  padding: 18px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border-radius: 100px;
  background-color: #ff7e00;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;

}

.coop-card__button a:hover {
  background-color: #e57100;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 650px;
  border-radius: 100px;
  background-image: url(/img/orange-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 90px;

}

.hero-container h1 {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 500px;
  color: #fff;
  font-size: 56px;
}

.coop__list {
  position: absolute;
  top: 3%;
  right: 5%;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 600;
  gap: 30px;
  color: #fff;
  list-style: none;
}

.coop__item {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.coop__item a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
.coop__item:hover {
  transform: translateY(10px);
}

.bg-logo {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 200px;
  height: 200px;
  background-image: url(/img/logo.svg);
}