
.showroom {
  margin-bottom: 90px;
}


.showroom__title {
  max-width: 800px;
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
  font-size: 80px;
  font-weight: 300;
  line-height: 96px;
  color: rgb(24, 27, 32);
}

.showroom__paragraph {
  margin: 0;
  padding: 0;
  max-width: 600px;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  color: rgb(101, 106, 112);
}

.showroom__paragraph_centered {
  text-align: center;
}

.showroom__paragraph_small {
  font-size: 16px;
}
.showroom__paragraph:last-of-type {
  margin-bottom: 0;
}

.showroom__container_flex {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
  justify-content: space-between;
}
.showroom__about {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.showroom__contacts {

}

.showroom__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.showroom__contacts-link {
  color: rgb(101, 106, 112);
  text-decoration: none;
}
.logo-block {
  padding: 20px;
  margin: 90px 0;
  background-image: url(../img/showeare-parallax.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-block__slogan {
  font-size: 17px;
  color: #fff;
}

.logo-block div {
  display: flex;
  margin: auto;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.logo__image {}
